.CartCardImage{
    width: 100%;
}
.CartCardTitle{
    margin-bottom: 0px !important;
}
.CartCardPrice{
    margin-bottom: 5px !important;
    font-weight: 700;
}
.CartCardQuantityDiv{
    display: flex;
}
.CartCardQuantity{
    margin: 0px 8px 0px 8px !important;
}
.deleteCartButton{
    width: 25px !important;
    height: 25px;
    border-radius: 50%;
    padding: 0px !important;
    padding-bottom: 2px !important;
    position: absolute;
    right: -25px;
    top: -35px;
    /* background-color: red; */
    border: 1px solid red !important;
}
.deleteCartButton:hover{
    background-color: red;
    color: white;
}